<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
	<title>Assignments</title>
</head>
<body>
	<h3 class="text-center"><u>Assignments</u></h3>
	{% for course, assignments in class_assignments.items() %}
		<div><font size = "3"><b>{{course}}</b></font></div>
			{% for assignnment in assignments %}
				<p><font size = "2">{{assignnment}}</b></font></p>
			{% endfor %}
	{% endfor %}
	<p></p>
</body>
</html>
